#divResult {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#macarte {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

table tr:nth-child(odd) {
    background-color: #D3D3D3;
}

td {
    border: 1px solid black;
    padding: 3px 0px 3px 20px;
    text-align: center;
}

#Titre {
    font-family: fantasy;
    font-size: large;
    color: #B0B0B0;
}

#Titre2 {
    font-family: fantasy;
    font-size: xx-large;
    color: #B0B0B0;
}