fieldset {
    width: 500px;
}

fieldset label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

#divResult {
    width: 500px;
}

table {
    border-collapse: collapse;
    width: 300px;
}

th,
td {
    border: 1px solid black;
    padding: 3px 0px 3px 20px;
    text-align: center;
}

thead {
    background-color: red;
    color: white;
}

tfoot {
    background-color: silver;
    color: red;
}