table {
    border-collapse: collapse;
    text-align: center;
    border: 10px solid white/* #0FB0B5 */
    ;
}

td,
th {
    border: 10px solid white/* #0FB0B5 */
    ;
    text-align: center;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

td {
    background-color: #696969;
    color: #fff;
}

caption {
    padding: 10px;
    caption-side: bottom;
}